@model Chatbot.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Travel.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travel.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Standard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Standard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReversationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReversationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
