@model Chatbot.Models.Travel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Travel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Path.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transport.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transport.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
