@model Chatbot.Models.HistoryStandard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HistoryStandard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Standard.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Standard.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TansportId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TansportId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
